#productManagement-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: .5em;
}

table,th,td{
  border: 2px solid #39FF14;
  border-collapse: collapse;
}



tbody tr:nth-child(odd) {
  background-color: #1e8fff28;
}

th {
  padding: 1em;
}

td {
  padding: .5em;
  text-align: center;
}

.img-container > img{
    object-fit: cover;
    height: 80px;
}

.td-name {
  max-width: 300px;
}
.row-action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.row-action-buttons > button{
  width: 6em;
  padding: .25em 1em;  
  display: flex;
  justify-content: center;
  align-self: center;
}

.row-action-buttons > button:nth-child(2) {
  background-color: red;
  color: black;
}