
.user-profile-container {
    width: 90%; 
    max-width: 600px; 
    margin: 50px auto; 
    padding: 30px; 
    background-color: #000000;
    border: solid; 
    border-color: #39FF14;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f0f0f0; 
}
.profile-header h2 {
    text-align: center; 
    margin-bottom: 25px;
}

.profile-details p {
    margin: 10px 0;
    font-size: 1.1em;
}

.profile-details strong {
    color: #00bcd4; 
    display: inline-block;
    width: 120px; 
}
.user-profile-container button{
    color: black;
    background-color: #39FF14;
    border: 2px solid #1E90FF;
    border-radius: 20px;        
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

.user-profile-container button:hover{
    background-color: #1E90FF;
    color: white;
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}